{% extends 'base.html' %}

{% block page_title %}
    Bilgisayar Kasaları
{% endblock %}

{% block sort_content %}

    <a href="{% url 'parts_of_computer_app:product_by_cost' %}?order=price_asc&category=bilgisayar_kasalari" class="btn btn-primary">Fiyatı ucuzdan pahalıya sırala</a>
    <a href="{% url 'parts_of_computer_app:product_by_cost' %}?order=price_desc&category=bilgisayar_kasalari" class="btn btn-primary mt-2">Fiyatı pahalıdan ucuza sırala</a>
{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for bilgisayar_kasasi in bilgisayar_kasalari %}
        
        <div class="card" style="width: 18rem; float: left; margin: 2%;">
            <img src={{ bilgisayar_kasasi.image_url }} alt={{ name }} width="250" height="250" class="card-img-top" alt={{ name }}>
            <div class="card-body">
                <h5 class="card-title">{{ bilgisayar_kasasi.price }} TL</h5>
                <p class="card-text">{{ bilgisayar_kasasi.name }}</p>

                <a href="#" class="btn btn-primary" onclick="showNotification(parseInt('{{ bilgisayar_kasasi.id }}'))">Ekle</a>
                <a href="{% url 'parts_of_computer_app:urun-detaylari' id=bilgisayar_kasasi.id %}" class="btn btn-warning" >Detaylar</a>
            
            </div>
        </div>
    {% empty %}
        <li>No products found.</li>
    {% endfor %}
    </div>
{% endblock %}
