{% extends 'base.html' %}

{% block page_title %}
    Kasa Fanları
{% endblock %}

{% block sort_content %}

    <a href="{% url 'parts_of_computer_app:product_by_cost' %}?order=price_asc&category=kasa_fanlari" class="btn btn-primary">Fiyatı ucuzdan pahalıya sırala</a>
    <a href="{% url 'parts_of_computer_app:product_by_cost' %}?order=price_desc&category=kasa_fanlari" class="btn btn-primary mt-2">Fiyatı pahalıdan ucuza sırala</a>
{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for kasa_fani in kasa_fanlari %}
    
        <div class="card" style="width: 18rem; float: left; margin: 2%;">
            <img src={{ kasa_fani.image_url }} alt={{ name }} width="250" height="250" class="card-img-top" alt={{ name }}>
            <div class="card-body">
                <h5 class="card-title">{{ kasa_fani.price }} TL</h5>
                <p class="card-text">{{ kasa_fani.name }}</p>
                
                <a href="#" class="btn btn-primary" onclick="showNotification(parseInt('{{ kasa_fani.id }}'))">Ekle</a>
                <a href="{% url 'parts_of_computer_app:urun-detaylari' id=kasa_fani.id %}" class="btn btn-warning" >Detaylar</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
